Bubblechart({{ t_width }},{{ t_height }},{{ t_padding }},{{ t_axis_label_size }},{{ t_viewport }},{{ t_jumplength }},'{{t_xlabel}}','{{t_ylabel}}',{{ t_datakeys }},'{{ t_timeformat }}',{{ t_iconwidth }},{{ t_iconheight }},'{{ t_iconcolor }}','{{ t_iconhighlight }}','{{ t_url }}','{{ t_iso }}',{{ t_scales }},{{ t_colors }},{{ t_circleopacity }},{{ t_highlightfactor }},{{ t_minradius }},{{ t_maxradius }},'{{ t_div_hook }}','{{ t_line_stroke }}','{{ t_shape_rendering }}',{{ t_font_size }},{{ t_axis_label_size }})