Chordchart({{ t_width }},{{ t_height }},{{ t_padding }}, {{ t_textpadding }}, '{{ t_elementFontSize}}', '{{ t_tickFontSize}}', {{ t_ticksteps }}, '{{ t_tickprefix}}', {{ t_colors }}, '{{ t_url }}', '{{ t_div_hook }}', '{{ t_line_stroke }}','{{ t_shape_rendering }}',{{ t_font_size }},{{ t_axis_label_size }})